@font-face {
	font-family: 'OCR A Extended';
	src: url('OCRAEx/OCRAExtended.eot');
	src: url('OCRAEx/OCRAExtended.eot?#iefix') format('embedded-opentype'),
		url('OCRAEx/OCRAExtended.woff') format('woff'),
		url('OCRAEx/OCRAExtended.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
.form-container{
    display: block;
    align-items: end;
    margin: 0 auto;
    padding: 15px;
    max-width: 600px;
    height: 500px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 15px;
    margin-top: 20px;
    position: relative;
    animation-duration: .3s;
    animation-name: fadeIn;
     h1{
         padding-top: 5px; 
        font-weight: normal; 
        margin-bottom: 0;
     }
      p{
          font-size: 18px; 
          line-height: 26px;
        }
   
}
.form{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
}

.section-title{
    height: 84px;
    width: 84px;
    margin: 0 auto;
    background-color: #266ea8;
    border-radius: 50%;
    position: absolute;
    top: -45px;
    left:43%;
    font-size: 14px;
    text-align: center;
    display: table;
    span{
        display:table-cell;
        vertical-align: middle;
    }
}

.rate-item{
    flex: 1;
    padding: 0px 30px 0px 30px;
   
    title{  
        margin-bottom: 16px;
        display: block;text-align: left;
    }
}

.comment{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    margin: 10px 30px 0px 30px;
    title{
        flex: 1; 
        color: #fff; 
        display: block; 
        padding-top: 10px;
    }
    textarea{
        flex:3 1;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        height:90px;
        resize: none;
        font-size: 14px;
        padding: 2%;
        box-shadow: inset 1px 2px 8px rgba(0, 0, 0, 0.07);
    }
}

.submit-form{
    @extend .comment;
    margin:0px 30px ;
    title{
        flex:1 0; 
        padding-right: 20px;
    }
    button{
        flex:2 1;
        height: 36px;
        margin: 10px 0px 10px 10px;
        padding:0;
        font-size: 16px;
    }
}

.rating-number{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    padding: 0px;
    li{
        flex: 1;
        font-size: 18px;
        list-style: none;
        font-family: 'OCR A Extended';
        text-align: center;
    }
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
