.landing-container{
      flex: 1 1 auto;
      width: 100%;
      background-image: url('images/bg-seattle.jpg');
      background-repeat: no-repeat;
      background-position: bottom center;
      background-position-x: -110px, left;
}

