.contact-container{
    display:block;
   
}
.contact{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: left;
    margin: 10px 70px 10px 0px;
    justify-content:flex-start;
    title{
        flex: 1; 
        color: #fff; 
        display: block; 
        text-align: right;
        padding: 10px  25px 0px 0px ;
        }
    input[type=text]{
        height: 26px;
        flex: 3 1;
        -webkit-border-radius:4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        font-size: 14px;
        padding: 1.5%;
    }
}

.submit-contact-form{
    @extend .contact;
    margin: 10px 70px 10px 0px;
     title{
        padding: 0px  42px 0px 0px ;
        }
    button{flex:2 1;
    height: 36px;
    margin: 10px 0px 10px 10px;
    padding:0;
    font-size: 16px;
    }
}