
.header {
    flex: 0 0 175px;
    width: 100%;
    padding-top: 5%;
    background-image: url('images/logo-new.png');
    background-repeat: no-repeat;
    background-position: center center;
    height: 175px;  
    position: relative;
}

.high-logo {
    padding-top:1%;
    background-size: 45%;
}

.low-logo {
    padding-top: 9%;
}

.back-to-home{
    position: absolute;
    top: 0px;
    left:0px;
    height: 66px;
    width: 66px; 
    margin: 0;
    padding: 0px;
    background-image: url('images/home.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #266ea8;
     &:hover {
                background-color: lighten(#266ea8, 10%);
                }
}   