.footer{
    flex: 0 0 58px;
    color: #fff;
    font-size: 11px;
    text-align: left;
    width:100%;
    background-image: url('/images/eskimo-new.jpg');
    background-repeat: no-repeat;
    background-position: top 8px right 20px;
    background-color: #01426a;
    p{
        padding: 12px 24px;
    }
}
