
html{
    height: 100%;
    width: 100%;
}
body {
    font-family:Tahoma, sans-serif, Verdana, Geneva ;
    color:#fff;
    height: 100%;
    width: 100%;
    max-width: 1024px;
    max-height: 804px;
    margin: 0 auto;
    padding: 0;
    background-color: #fff;
}

input, button, button:active, button:focus, textarea, textarea:focus { border:none; outline:0; } 

#main{
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    margin-top: 2%;
    // border: 1px solid red;
}
.container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0 auto;
}

