
html{
    height: 100%;
    width: 100%;
}
body {
    background-color: #01426a;
    //max-height: 750px;
    font-family: Circular,Helvetica Neue,Helvetica,Arial,sans-serif;
    color:#fff;
    height: 100%;
    width: 100%;
    max-width: 1024px;
    max-height: 760px;
    margin: 0 auto;
    padding: 0;
    background-color: #1d1d1d;
}

#main{
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
    height: 100%;
    margin-top: 2%;
}
.container{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0 auto;
   background-image: url('/images/bg-seattle.jpg');
 background-repeat: no-repeat;
 background-position: top center;

}

